body {
    background-color: #0b0c16f6;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.step {
    padding: 2em;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: none;
}

.step.active {
    display: block;
}

h1 {
    padding-left: 20px;
    margin-bottom: 1em;
}


label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #0b0c16f6;
    color: white;
    outline: none;
    transition: border 0.3s;
}

select{
    width: 107%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #0b0c16f6;
    color: white;
    outline: none;
    transition: border 0.3s;

}

input:focus, select:focus {
    border: 1px solid #2f8be6;
}

.login, a {
    font-size: 14px;
    color: #2f8be6;
    text-decoration: none;
}

button {
    background-color: #0074e0;
    color: white;
    border: none;
    padding: 10px;
    width: 107%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #0056b3;
}

strong {
    display: block;
    margin-top: 1em;
    font-size: 1.2em;

}
.green{
    color:green;
}
.progress-dots-container {
    margin-top: 20px;
  }
  
  .progress-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #2f8be6;
  }
      input.invalid, select.invalid {
      border: 2px solid red;
      background-color: #0b0c16f6;
      
    }